<div class="jumbotron">
    <h1>{{ registarReserva.title }}</h1>
    <p class="lead">Registrar Reserva</p>
  
    <div class="form-group">
        <div class="form-group">
            <label for="apeynom">Apellido y Nombre</label>
            <input type="text"  class="form-control" id="apeynom" placeholder="Apellido y Nombre">
        </div>

            <div class="form-group">
                <label for="fechaDev">Fecha Devolucion</label>
                <input type="date"  class="form-control" id="fechaDev" placeholder="Fecha Devolucion">
            </div>
            <div class="form-group">
                <label for="fechaRet">Fecha Retiro</label>
                <input type="date" class="form-control" id="fechaRet" placeholder="Fecha Retiro">
            </div>
            <div class="form-group">
                <label for="idVehiCiu">Id Vehiculo Ciudad</label>
                <input type="text"  class="form-control" id="idVehiCiu" placeholder="Id Vehiculo Ciudad">
            </div>
            <div class="form-group">
                <label for="lugarDev">Lugar de Devolucion</label>
                <input type="text" class="form-control" id="lugarDev" placeholder="Lugar de Devolucion">
            </div>
        <div class="form-group">
                <label for="LugarRet">Lugar de Retiro</label>
                <input type="text" class="form-control" id="LugarRet" placeholder="Lugar de Retiro">
            </div>
        <div class="form-group">
            <label for="DNI">DNI Cliente</label>
            <input type="text"  class="form-control" id="DNI" placeholder="DNI Cliente">
        </div>
        <div class="form-group">
            <label for="codRes">Codigo de Reserva</label>
            <input type="text" class="form-control" id="codRes" placeholder="Codigo de Reserva">
        </div>
        <div class="form-group">
            <label for="fecRes">Fecha de Reserva</label>
            <input type="date"  class="form-control" id="fecRes" placeholder="Fecha de Reserva">
        </div>
        <div class="form-group">
            <label for="idVendedor">Id de Vendedor</label>
            <input type="text" class="form-control" id="idVendedor" placeholder="idVendedor">
        </div>
        <div class="form-group">
            <label for="idCliente">Id del Cliente</label>
            <input type="text" class="form-control" id="idCliente" placeholder="idCliente">
        </div>
        <div class="form-group">
            <label for="costo">Costo</label>
            <input type="text"  class="form-control" id="costo" placeholder="Costo">
        </div>
        <div class="form-group">
            <label for="preVenta">Precio de venta</label>
            <input type="text" class="form-control" id="preVenta" placeholder="Precio de venta">
        </div>
        <button type="button" class="btn btn-primary">Registrar Reserva</button>

    </div>
</div>
