<div class="jumbotron">
    <h1>{{ registarReserva.title }}</h1>
    <p class="lead">Registrar Reserva</p>
  
    <div class="form-group">
        <div class="form-group">
            <label for="exampleInputEmail1">Apellido y Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Apellido y Nombre">
        </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Fecha Devolucion</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fecha Devolucion">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha Retiro</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Fecha Retiro">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Id Vehiculo Ciudad</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Id Vehiculo Ciudad">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Lugar de Devolucion</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Lugar de Devolucion">
            </div>
        <div class="form-group">
                <label for="exampleInputEmail1">Lugar de Retiro</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Lugar de Retiro">
            </div>
        <div class="form-group">
            <label for="exampleInputEmail1">DNI Cliente</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="DNI Cliente">
        </div>
        <button type="button" class="btn btn-primary">Registrar Reserva</button>

    </div>
</div>
