<div>
    <div class="jumbotron">
        <h1>{{ vehiculosList.title }}</h1>
        <p class="lead">Listado de Vehiculos</p>
        <!--<p><a href="#/newcliente" class="btn btn-primary">Nuevo Cliente</a></p>-->
    </div>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="cmbPais" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Seleccione Pais
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="cmbCiudad" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Seleccione Ciudad
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

    <div>
        <div data-ng-show="isBusy">PROCESANDO....</div>
    </div>
    <div class="well row">
        <table class="table">
            <tr>
        
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>PrecioPorDia</th>
                <th>Puntaje</th>
                <th>TieneAireAcon</th>
                <th>TieneDireccion</th>
                <th>TipoCambio</th>
                <th>VehiculoCiudadId</th>
                <th>CantidadDisponible</th>
                <th>CantidadPuertas</th>
                <th>CiudadId</th>
            </tr>
            <tr data-ng-repeat="vehi in vehiculosList.vehiculos">
                
                <th>{{vehi.Id }}</th>
                <th>{{vehi.Marca }}</th>
                <th>{{vehi.Modelo }}</th>
                <th>{{vehi.PrecioPorDia }}</th>
                <th>{{vehi.Puntaje }}</th>
                <th>{{vehi.TieneAireAcon }}</th>
                <th>{{vehi.TieneDireccion }}</th>
                <th>{{vehi.TipoCambio }}</th>
                <th>{{vehi.VehiculoCiudadId }}</th>
                <th>{{vehi.CantidadDisponible }}</th>
                <th>{{vehi.CantidadPuertas }}</th>
                <th>{{vehi.CiudadId }}</th>

            </tr>
        </table>

    </div>

</div>

